<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 
  
</div>

<mat-form-field>
  <input matInput [matDatepicker]="picker1" placeholder="Start Date" [formControl]="startDate">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <input matInput [matDatepicker]="picker2" placeholder="End Date" [formControl]="endDate">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>

<button  mat-button  (click)="onClick()">Data between given date range</button>


<table matSort (matSortChange)="sortData($event)" *ngIf="isShow">
   
  <tr>
    <th mat-sort-header="city">city</th>
    <th mat-sort-header="start_date">start date</th>
    <th mat-sort-header="end_date">end date</th>
    <th mat-sort-header="price">price</th>
    <th mat-sort-header="status">status</th>
    <th mat-sort-header="color">color</th>
  </tr>

  <tr *ngFor= "let data of smsData">
    <td>{{data.city}} </td>
    <td>{{data.start_date}} </td>
    <td>{{data.end_date}} </td>
    <td>{{data.price}} </td>
    <td>{{data.status}} </td>
    <td>{{data.color}} </td>
     
  </tr>
</table>
<div *ngIf="!isShow">
  No data available!
</div>